/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Alex STUFF*/
body{
    background-color: #3fc1c9;
    color: #ffffff
}

#cat1{
    width: 1000px;
    border: #fc5185 10px solid;
    margin: 20px; /* Margin added to give clearance around the image and seperates it from the heading*/
    /*two lines below mean the image resizes with the browser size*/
    max-width: 100%;
    height: auto;
    /*three lines below centre the image*/
    display: block; /*this tells it to act like brick*/
    margin-left: auto; /*this tells it to leave as much space left*/
    margin-right: auto; /*this tells it to leave as much space space, thus centering the image*/
}

#heading1{
    font-size: 20px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 4px;
}

#poemtitle{
    font-size: 25px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 4px;
    width: 100%;
    background-color: #fc5185;
}

#poemtitle span{ /*this is a selector and it's saying, span tags nesting inside <p #poemtitle need the following formatting*/
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#poemtitle span span{ /*this is another selector and it's saying, span tags nesting inside span tags nesting inside <p #poemtitle need the following formatting*/
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #364f6b;

}

#header{
    width: 100%;
    background-color: #fc5185;
}

#craigtuts{
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}